* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: auto
}
  
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.table-margin {
    margin-top: 10%;
}

.search-margin {
    margin-bottom: 4%;
}

.button-margin {
    margin-left: 40px;
    width: 9rem;
    font-weight: bold !important;
}

.change {
    font-weight: normal;
    color: red;
}